*{
    /*border: 1px solid;*/
}
body{
    height: 100%;
    background-color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:  16.5px;
   
}
header, nav,#menu{
   background-color: #313d42;
   margin-left: -1em;
}
article{
    margin-right: -2.85px;
    background: white;
    float: right;
    width: 80%;
    height: 100%;
    /*position: relative;*/
    padding: 10px;
   
}
header {
    height: 20%;
    padding: 1.5em 1.5em 1em 1.5em;
    margin-right: -0.5em;
    margin-top: -1em;
}
header >a{
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
    /*color: #71777a;*/
}
header >a:link, #menu>nav>ul>li>a:link, #navegador>ol>li>a, .borde>a:link{
    text-decoration: none;
}
header ul>li>a, .borde>a{
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    padding-bottom: 5px;
}
header ul>li>a>span+span, #menu >nav>ul>li>a>span+span, #navegador>ol>li{
   /* font-size: 16px;
    color: #ffffff;
    display: inline-block;*/
    margin-top: -15px;
    color:#71777a;
    font-weight:bolder;
}
.borde>a{
    font-size: 15px;
    color: #ffffff;
    display: inline-block;
    padding-bottom: 5px;
}
header ul>li>a:link{
   text-decoration: none;
}
header> ul>li{
    float: right;
    padding: 0 10px 0px 10px;
    list-style: none;
    display: inline-block;  
}
header> ul>li>a:hover{
   color: #0c7bfe !important; 
}
header>ul,#navegador>ol>li{
    display: inline;
}
span[nombre="mensajes"]{
    background-image: url(../img/email.svg);
    margin-right: 10px;
   
}
span[nombre="logout"]{
    background-image: url(../img/logout.svg);
}
span[nombre="tablas"]{
    background-image: url(../img/tabla.svg);
}
span[nombre="grafico"]{
    background-image: url(../img/grafico.svg);
}
span[nombre="inicio"]{
    background-image: url(../img/control.svg); 
}
span[nombre="componentes"]{
    background-image: url(../img/conf.svg);
}
span[nombre="monitor"]{
    background-image: url(../img/monitor.svg);
    margin-left: 50px;

}
span[nombre="consumo"]{
    background-image: url(../img/consumo.svg);
    margin-left: 50px;
    
}
span[nombre="mensajes"],span[nombre="logout"],span[nombre="tablas"],span[nombre="grafico"]
,span[nombre="inicio"],span[nombre="componentes"],span[nombre="monitor"], span[nombre="consumo"]{
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    padding-top: 5px;
    margin-bottom: -10px;
}
span[nombre="mensajes"]:hover,span[nombre="logout"]:hover, header ul>li>a>span+span:hover,
 #menu>nav>ul>li>a>span:hover,#navegador>ol>li>a{
    color:#0c7bfe !important; 
    fill: #0c7bfe !important;

}
#menu> button, #menuO {
    display:none; /*Ocultar el boton*/
}
nav{
    vertical-align: middle; 
    margin-right: 30px;  
}
#menu {
    float: left; 
    width: 19.5%;
    height: 100%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}
#menu >nav>ul,#navegador>ol>li{
    list-style: none;
}
.iconosM{
   padding: 25px;
}
#navegador{
    background-color: #eaeced;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 5px;
    padding: 1px 0px 1px 0px;
}
[tipo]{
    color: #ffffff;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 5px;
    padding: 0px 0px 0px 0px;
    width: 245px;
    border-radius: 5px; 
    padding: 18px 0px 18px 0px;
}

[tipo="panel"],[tipo="dispositivos"],[tipo="medio"],[tipo="consumo"]{
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right;
    /*height: 20px;
    width: 20px;
   
    display: inline-block;
    padding-top: 5px;
    margin-bottom: -10px;*/
}
[tipo="panel"]{
    background-image: url(../img/cam.svg);
    background-color: #4adfa8;
   
 
}
[tipo="dispositivos"]{
    background-image: url(../img/wifi.svg);
   background-color: #4ddedb;
}
[tipo="medio"]{
    background-image: url(../img/termometro.svg);
    background-color: #4cc4f7;
    /*padding-right: 15px;*/

}
[tipo="consumo"]{
    background-image: url(../img/idea.svg);
    background-color: #ffc95f;
    /*padding-right: 15px;*/
}
.borde{
    margin-bottom: 100px #71777a solid;
    /*padding: 40px;*/
    padding:  0px 0px 0px 10px;

    text-align: left;

}
.borde>hr{
    padding-left: 0px;
}

.centro{
    text-align:center;
    /*margin-left: -50px;*/
    padding-left: -0px;
    padding-right: -0px;
    /*margin-right: -20px;*/
}
#monitor,#consumo{
    display: inline-block;
    padding: 15px;
   
   
}
#monitor>div,#consumo>div{
  background-color: #eaeced;
  border: 2px solid #e8e6e4;
  border-radius: 2px;
}
#monitor>div>div>{
    margin-left: 105px;
}
#consumo{
    width: 40%;

}
#monitor{
    width:53.5%;
}
.titulo{
    border-bottom: 2px solid #e8e6e4;
    border-radius: 2px;
    padding: 10px;
}
canvas{
    background: white;
    width: 100%;
    height: 19em;;
   
}

@media  (min-width: 205px) and (max-width: 800px) { 
   #menu> button {
    position: absolute;
    top: 0.5%;
    left: 83%;
    display: inline-block;
    float: right;
    margin: 0px 0px 0px 0px;;
    
    }/*volvemos a mostrar el botón*/
     #menu nav , header>ul{/*ahora nuestro menú es una lista flotante*/
       display: none;
     
    }
    #menu{
        position:inherit;
    }
    #menu >button:focus+nav{
        position: absolute;
       
        /*overflow: hidden;*/
       
        left: 0px;
        display: inline-block !important;
        background: #121212;
        /*min-width: 20rem;*/
        width: 100%;
        text-align: center;
        margin-left: 0%;
        margin-right: 10%
    }
    #menu >button:focus+nav>ul#menuO{
        margin-left: -5%;
        margin-top: 0%;
        padding-left: -10px;

        position: absolute;
        left: 0px;
        display: inline-block !important;
        background: #121212;
        /*min-width: 20rem;*/
        width: 100%;
        text-align: center;
       
        margin-right: 10%
    }
    article{
        width: 100%;
        margin-left: 5x white;
        margin-right: white 30px;
        float: left;
        position: initial;
        padding-left: 0px;
    }

    [tipo]{
        width: 96%;
    }
    #consumo,#monitor{
        width: 98.5%;
        padding: 4Px 0px 0px 0px;
    }
    canvas{
        height: 15em;;
    }
    
                     
}

@media  (min-width: 360px) and (max-width: 414px){

    #menu> button {
        top: 2.5%;
        left: 80%;
    }
   
    header{
        width: auto;
        padding-right: 0%;
        margin: 0px;
    }
    #navegador{
        margin-left: 0px;
        margin-right: 1.5%;
        padding-right: 100px;
    }
    .centro {
        text-align: left;
        margin-left: 0px;
        padding-left: -0px;
        padding-right: -0px;
        margin-right: -0px;
    } 
}

/*Monitor menor a 800px*/
@media  (min-width: 667px) and (max-width: 767px) { 
    body{
        background: white;
    }
    header{
        background: #313d42;
    }
    #menu> button {
       
        top: 1.9%;
        left: 90%;
    }
    article{
        width: 101%;
        margin-left: 10x white;
        margin-right: white 30px;
        float: left;
        position: initial;
    }                      
}
@media  (min-width:768px) and (max-width: 1000px) {
    #menu> button {
        top: 0.5%;
        left: 91%;
    }
 }

 @media  (min-width:1001px) and (max-width: 1024px) {
    #menu> button {
        top: 0.5%;
        left: 91%;
    }

    #monitor,#consumo{
    width:  45.97%
    }
    canvas{
        height: 12em;;
       
    }

 }